
@{
    ViewBag.Title = "AppHarbor Demo - Using Memcacher";
	
}

<h2>Using Memcacher</h2>

Memcacher provides AppHarbor with a locally run distributed caching service.  Unlike the other 3rd party APIs, this application is run locally and provided externally.

<br />

<div>
	Time to load: @ViewBag.TimeToLoad ms
	<br />
	Cache Hit: @ViewBag.CacheHit
</div>

<span class="font-color: red; font-weight: bold;">@ViewBag.Message</span>

<br />

@if (Model != null)
{
	<ul> 
		@foreach (MvcFun.Models.POCO.Person v in Model)
	 {
			<li><a href="mailto:@v.Email" target="_blank">@v.Name</a></li>
	 }
	</ul>
}
	
@using (Html.BeginForm())
{
	<input type="submit" value="Clear Cache" />
}
