
@{
    ViewBag.Title = "AppHarbor Demo - Using Memcacher";
	
}

<h2>Using Memcacher</h2>

Memcacher provides AppHarbor with a locally run distributed caching service.  Unlike the other 3rd party APIs, this application is run locally and provided externally.

<br />

<div>
	Time to load: @ViewBag.TimeToLoad
	<br />
	Cache Hit: @ViewBag.CacheHit
</div>

<br />

<ul> 
	@foreach (MvcFun.Models.Video v in Model) {
		<li><a href="@v.Url" target="_blank">@v.Title</a></li>
	}
</ul>



