
@{
    ViewBag.Title = "AppHarbor Demo - Using Memcacher";
	
}

<h2>Using Memcacher</h2>

Memcacher provides AppHarbor with a locally run distributed caching service.  Unlike the other 3rd party APIs, this application is run locally and provided externally.

<br />

<div>
Now Ticks: @ViewBag.NowTicks
<br />
Cache Ticks: @ViewBag.CacheTicks
</div>


