
@{
    ViewBag.Title = "AppHarbor Demo - Using Memcacher";
	
}

<h2>Using Memcacher</h2>

Memcacher provides AppHarbor with a locally run distributed caching service.  Unlike the other 3rd party APIs, this application is run locally and provided externally.

<br />

@if (Model == null) {
	<br />
	<div style="color: red; font-weight: bold;">@ViewBag.Message</div>
	<br />
} else {
	<div>
		Time to load: @ViewBag.TimeToLoad ms
		<br />
		Cache Hit: @ViewBag.CacheHit

		<ul> 
			@foreach (MvcFun.Models.Person v in Model)
		 {
				<li><a href="mailto:@v.Email" target="_blank">@v.Name</a></li>
		 }
		</ul>
	</div>
}
	
@using (Html.BeginForm())
{
	<input type="submit" value="Clear Cache" />
}
