@{
    ViewBag.Title = "Using WCF";
}

<h2>@ViewBag.Title</h2>
<p>	
	AppHarbor does not have a great story for using WCF.  You're forced to create an entirely separate externally facing web application, which is where the following
	data is being generated:
</p>

<br />
   Data: @ViewBag.data
<br />
Where: @ViewBag.where
		

